 html{
     margin: 0;
     min-height: 100%;
     display: flex;
     justify-content: center;
 }
 
 body{
     margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
    
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
    font-weight: 200px;
}

div.profile-container-wrapper{
    background-color: rgb(135, 156, 156);
    border-radius: 50px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    
    align-items: center;

}
.profile-pic{
    background-color: cadetblue;
    border-radius: 15px;
    padding: 25px;
    height: 100px;
    width: 100px;
}
.profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.profile-info-container{
    width: 50%;
}
.category-element{
    margin-left: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.category-container{
    display: flex;
    
    flex-wrap: wrap;
}
.main-container{
   
    justify-content: center;
    width: 80%;
}

.product_image{
    height: 100px;
    width: 100px;
}

.product_item{
    display: flex;
}