.login-form-container{
    
    margin-top: 200px;
    font-family: 'Inconsolata', monospace;
font-family: 'Raleway', sans-serif;
    align-self: center;
    justify-self: center;
    display: inline-block;
   
}
body{

    text-align: center;
    justify-content: center;
    align-content: center;

    background-color: #63b175;
}

.login-form-wrapper{
    float: left;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

input{
    font-size:  16px; 
    padding:  20px 0px; 
    height:  56px; 
    border:  none; 
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    background:  #fff; 
    width:  280px; 
    box-sizing:  border-box; 
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  400;
    -webkit-appearance:  none; 
  
}
input:focus{
    
        border-bottom:  solid 1px #525e74 ; 
        outline: 0; 
        box-shadow:  0 2px 6px -8px rgba( #525e74.45);
      
}
.names-input{
    
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}
.confrim-button {
    margin-top: 30px;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px ;
  }